<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="matrixResult">
    <pre th:text="${matrixResult}"></pre>
</div>
<div th:fragment="integrateResult">
    <pre th:text="${integrateResult}"></pre>
</div>
<div th:fragment="gradeCreateResult">
    <pre th:text="${gradeCreateResult}"></pre>
</div>
<div th:fragment="gradesList">
    <pre th:text="${gradesList}"></pre>
</div>
<div th:fragment="bookCreateResult">
    <pre th:text="${bookCreateResult}"></pre>
</div>
<div th:fragment="booksList">
    <pre th:text="${booksList}"></pre>
</div>
</body>
</html>